.appointment .header-appoint .title h2,
.appointment .header-appoint .title .radio-user {
  color: #07b6c4;
}

.radio-user {
  border-color: #07b6c4;
  margin-top: 6px;
}

.title {
  display: flex;
  align-items: center;
}

.appointment {
  padding: 20px 20px 20px 40px;
}

.appointment .input-seach {
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 48%);
  width: 300px;
  padding: 0px 36px 0px 20px;
}

.input-seach::placeholder {
  font-style: italic;
}

.search-fn {
  display: flex;
  position: relative;
}

.icon-s {
  position: absolute;
  left: 326px;
  top: 6px;
}

.appointment .input-seach:focus-visible {
  border: 1px solid #07b6c4 !important;
}

.appointment .nav {
  display: flex;
  justify-content: space-between;
}

.appointment .item-app {
  width: 300px;
  min-height: 150px;
  max-height: 180px;

  border: 3px solid #07b6c4;
  border-radius: 20px;
  background-color: #f0faff;
  padding: 10px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.appointment .item-app .title-item {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.appointment .main-item .content {
  display: flex;

}

.appointment .main-item .content .title {
  width: 100px;
  font-weight: 700;
}

.appointment .main-item {
  position: relative;

}

.main-item .status {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: rotate(320deg);
}

.footer-item {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.footer-item .delete-btn {
  background-color: transparent;
  color: red;
  border: none;
  font-weight: bold;

}

.footer-item .update-btn {
  background-color: transparent;
  color: #07A6FF;
  border: none;
  font-weight: bold;

}

.appointment .main {
  margin-top: 20px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;

  .list-app {
    display: flex;
    flex-wrap: wrap;
    max-height:100%;
    overflow-y: auto;
  }
  .group-patient{
    .title-gr{
      display: flex;
      color: #07A6FF;
      font-weight: bold;
    }
  }

  .notice {
    display: flex;
    justify-content: end;

    .notice-content {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
      font-weight: bold;
      color: #07b6c4;
      font-style: italic;
    }
  }
}