@import url("./layout/header.css");
@import url("./layout/menu.css");
@import url("./icon/icon.css");
@import url("./layout/table.css");
* {
    font-family: "Roboto", sans-serif;
  }
  body{
    margin: 0;
  }
  p,
  input,
  body {
    font-size: 13px;
    font-weight: 500;
  }
  
  h3 {
    font-size: 14px;
  }
  
  h2 {
    font-size: 20px;
  }
  input{
    height: 28px;
  }
  label{
    font-weight: bold;
    margin-right: 10px;

  }
  .Vue-Toastification__toast--success {
    background-color: #ffffff !important;
    color: #111 !important;
}
.Vue-Toastification__toast--success .Vue-Toastification__icon {

  color: #1ebb0bed !important;
  border: 4px solid  #13c5284f  !important;
  border-radius: 50% !important;
}
.Vue-Toastification__toast--success  .Vue-Toastification__progress-bar {
  background-color: #1ebb0bed !important;

}
.Vue-Toastification__toast{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3) !important;
  font-family: "Roboto", sans-serif !important;
}
.Vue-Toastification__toast--error {
  background-color: #fff !important;
  color: #111 !important;
}
.Vue-Toastification__toast--error .Vue-Toastification__icon{
  color: red !important;
}
.Vue-Toastification__toast--error  .Vue-Toastification__progress-bar {
  background-color:red !important;
}
  .bold {
    font-weight: bold;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
    width: 0px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .loader::after {
    content: "";
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgba(26, 164, 200, 0.2);
    border-bottom: 10px solid rgba(26, 164, 200, 0.2);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
  
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  #load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(90, 88, 88, 0.116);
    display: flex;
    margin: auto;
  }
  .lds-ring {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: auto auto;
  }
  .lds-ring div {
    margin: auto auto;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 8px solid #dbe0e0;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1aa4c8 #1aa4c8 #fff rgba(255,255,255,0);
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  [data-tip] {
    position: relative;
  }
  
  [data-tip]:hover::after {
    display: block;
  }
  
  [data-tip]:after {
    width: fit-content;
    padding: 2px 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    content: attr(data-tip);
    display: none;
    position: absolute;
    z-index: 10000;
    border-radius: 2px;
    white-space: nowrap;
    margin: 4px;
  }
  
  .data-tip-right[data-tip]::after {
    left: calc(100%);
  }
  
  .data-tip-left[data-tip]::after {
    right: calc(100%);
  }
  
  .data-tip-top[data-tip]::after {
    bottom: calc(100%);
  }
  
  .data-tip-bottom[data-tip]::after {
    top: calc(100%);
  }
  .body {
    background-color: #f4f7ff;
    padding: 16px;
  }
  .body-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
  .row-input {
    display: flex;
  }
  .input {
    position: relative;
    margin-right: 8px;
  }

input[disabled]:hover{
   border-color:  #afafaf;
  }
  input[type="checkbox"]{
    cursor: pointer;
  }
  .search {
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    width: 179px;
    height: 36px;
    overflow: hidden;
    padding-left: 38px;
    box-sizing: border-box;
  }
  .item-header .input{
    margin-left: 9px;
  }
  .icon-filter,
  .icon-search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
  }
  
  .search::placeholder {
    font-size: 13px;
    font-style: italic;
  }
  .filter::placeholder {
    font-size: 13px;
    color: #000;
  }
  .filter {
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    width: 219px;
    height: 35px;
    overflow: hidden;
    padding-left: 38px;
    box-sizing: border-box;
  }
  .input .icon-down-bold {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  .add {
    position: relative;
  }
  .button-function {
    display: flex;
  }
  .btn-add {
    background-color: #1aa4c8;
    border-radius: 3px;
    width: 110px;
    height: 36px;
    border: none;
    color: #fff;
    outline: none;
  }
  .btn-add:hover {
  }
  
  .btn-excel {
    background-color: #ffffff;
    width: 36px;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    border: none;
    margin-left: 8px;
    outline: none;
  }
  .btn-excel .icon-excel,
  .btn-excel .icon-delete {
    margin: 0 auto;
    outline: none;
    /* position: relative; */
  }
  .btn-excel:focus,
  .btn-excel:hover,
  .btn-excel .icon-excel:focus {
    background-color: #edeaff;
    outline: none;
  }
  .tooltip-excel,
  .tooltip-delete {
    padding: 4px 10px;
    background-color: #fff;
    color: #000;
    position: absolute;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
    opacity: 1;
    z-index: 2;
    display: none;
  }
  .icon-excel:hover .tooltip-excel,
  .icon-delete:hover .tooltip-delete {
    display: block;
  }
  .menu-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .menu-item {
    opacity: 0.6;
    margin-bottom: 8px;
    border-radius: 6px;
    width: 44px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .menu-item:hover {
    background-color: #1aa4c8;
    opacity: 1;
  
    overflow: hidden;
  }
  .menu-body .icon {
    margin: 0 auto;
  }
  .btn-hover-blue:focus,
.btn-hover-blue:hover {
  background-color: #0062cc;
}
.btn-hover-outline:focus,
.btn-hover-outline:hover {
  background-color: #1aa4c8;
  color: #fff;
  border: none;
}
.mr-2{
  margin-right:16px ;
}
.mr-1{
  margin-right:8px ;
}
.ml-2{
  margin-left:16px ;
}
.mt-2{
  margin-top:16px ;
}
.mt-1{
  margin-top:8px ;
}
.mb-2{
  margin-bottom:16px ;
}
.mt-3{
  margin-top:20px ;
}
.button-blue-outline{
  min-width: 70px;
  height: 30px;
  background-color: #ffff;
  border:none;
  border-radius: 15px;
  color:#07B6C4;
  padding: 0px 16px;
  border:1px solid #07B6C4;
}
.button-blue-outline:hover{
  background-color: #F0FAFF;
}
.button-blue{
  min-width: 70px;
  height: 30px;
  background-color: #07B6C4;
  border:none;
  border-radius: 15px;
  color:#ffff;
  padding: 0px 16px;

 
}
.button-blue:hover{
  background-color: #ffff;
  border:1px solid #07B6C4;
  color:#07B6C4;
}
.btn{
  cursor: pointer;
  font-weight: bold;
}
.clr-red{
  color:#C30E0E;

}
.clr-green{
  color: #119465;
}
.clr-warning{
  color:#F68B28;
}
.clr-blue{
  color:#07B6C4
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.form-footer{
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  margin-top: 20px;
  }
  .form-header {
    padding: 8px 0px;
    color: #07b6c4;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .form-main {
    margin-top: 10px;
    width: 100%;
  }
  .group-controll {
    width: 100%;
    display: flex;
  }
  .form-add {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .w-25{
    width: 25%;
  }
  .w-30{
    width: 33.33%;
  }
  .error{
    color: red;
    position: absolute;
    bottom: -25px;
    font-size: 11px;
  }
  .border-error{
    border:1px solid red;
  }